
.rejecteddorder-item{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(auto, auto);
    align-items: start;
    gap: 30px;
    border: 1px solid tomato;
    padding: 20px;
    margin: 30px 0px;
    font-size: 14px;
    color: #505050;
}

.rejecteddorder-item-car, .rejecteddorder-item-name{
    font-weight: 600;
}

.rejecteddorder-item-name{
    margin-top: 30px;
    margin-bottom: 5px;
}

.rejecteddorder-item select{
    background-color: #ffe8e4;
    border: 1px solid tomato;
    width: max(10vw, 120px);
    padding: 10px;
    outline: none;
}

.delete-btn{
    grid-column: 1 / -1;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

/* .deleteadd-btn{
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
} */

@media (max-width: 1000px) {
    .rejecteddorder-item{
        font-size: 12px;
        grid-template-columns: 0.5fr 2fr 1fr 1fr;
        padding: 15px 8px;
    }
    .rejecteddorder-item select{
        padding: 5px;
        font-size: 12px;
    }
    .rejecteddorder-item img{
        width: 40px;
    }
}

