@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
  font-family: Outfit;
}

body {
  min-height: 100vh;
  background-color: #fcfcfc;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}

.app-content {
  display: flex;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

.animate-slideUp {
  animation: slideUp 0.25s ease-out;
  padding: 10px;
}
