.complatedorder-item{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
    align-items: start;
    gap: 30px;
    border: 1px solid #3b82f6;
    padding: 20px;
    margin: 30px 0px;
    font-size: 14px;
    color: #505050;

    
    border-radius: 14px;
    border: 1px solid #e0e0e0;
    background: linear-gradient(145deg, #ffffff, #f5f5f5);

    /* Soft shadow */
    box-shadow: 
        0 4px 10px rgba(0, 0, 0, 0.06),
        0 1px 2px rgba(0, 0, 0, 0.04);

    /* Smooth interactions */
    transition: 
        transform 0.25s ease,
        box-shadow 0.25s ease;
}

.order-item-car, .order-item-name{
    font-weight: 600;
}

.order-item-name{
    margin-top: 30px;
    margin-bottom: 5px;
}

.order-item-address{
    margin-bottom: 10px;
}

.complatedorder-item select{
    background-color: #eef6ff;
    border: 1px solid #3b82f6;
    width: max(10vw, 120px);
    padding: 10px;
    outline: none;
}

@media (max-width: 1000px) {
    .complatedorder-item{
        font-size: 12px;
        grid-template-columns: 0.5fr 2fr 1fr 1fr;
        padding: 15px 8px;
    }
    .complatedorder-item select{
        padding: 5px;
        font-size: 12px;
    }
    .complatedorder-item img{
        width: 40px;
    }
}