.datepicker {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  gap: 20px;
}
.datepicker button {
  margin-top: 0px;
  background-color: lightblue;
}
