.sidebar {
  width: 18%;
  min-height: 100vh;
  border: 1.5px solid #a9a9a9;
  border-top: 0;
  font-size: max(1vw, 10px);
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sidebar-group {
  padding-left: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top-group {
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 25px;
}

/* Options */
.sidebar-option {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 14px;
  border-radius: 10px;
  background: white;
  border: 1px solid #e5e7eb;
  transition: 0.3s ease;
  position: relative;
  overflow: hidden;
  position: relative;
}
/* vertical animated line */
.sidebar-option::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 4px;
  height: 0;
  background: #3b82f6;
  border-radius: 4px;
  transform: translateY(-50%);
  transition: height 0.35s ease;
}

/* active state */
.sidebar-option.active::before {
  height: 70%;
}

.sidebar-option.active::after {
  content: "";
  position: absolute;
  left: -2px;
  top: 0;
  width: 6px;
  height: 100%;
  background: white; /* same as sidebar background */
  z-index: 1;
}
/* Hover & Active */
.sidebar-option:hover,
.sidebar-option.active {
  background: #eef6ff;
  border-color: #3b82f6;
  transform: translateX(-4px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.sidebar-option img {
  width: 20px;
  opacity: 0.8;
}

@media (max-width: 900px) {
  .sidebar-option p {
    display: none;
  }
}
