.marquee {
  overflow: hidden; /* hide the overflowing text */
  white-space: nowrap; /* keep text on one line */
  box-sizing: border-box;
}

.marquee h1 {
  display: inline-block;
  padding-left: 100%; /* start outside from the right */
  animation: marquee 60s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
