/* .datepicker { */
    /* text-align: center; */
    /* justify-content: center; */
    /* display: grid; */
    /* grid-template-columns: 100%; */
    /* margin: 10% 30% 10% 30%; */
    /* gap: 10%; */
/* } */

.datepicker {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;  
    gap: 20px;  
}
.datepicker button {
    margin-top: 0px;
    background-color: lightblue;
}