.car-display {
    margin-top: 30px;
}

.car-display h2 {
    font-size: max(2vw, 24px);
    font-weight: 600;
}

.car-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* smaller cards */
    gap: 20px 30px;  /* row-gap and column-gap */
    margin-top: 30px;
}

/* .car-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
} */

.car-display button{
    margin-top: 85px;
    border: none;
    padding: 12px 10px;
    border-radius: 4px;
    background-color: #ffe1e1;
    cursor: pointer;
    color: #454545;
}

@media (min-width: 1200px) {
    .car-item {
        min-height: 200px; /* slightly taller cards */
    }
}