.comment-section{
    display: flex;
    flex-direction: column;
}

.comment-area{
    padding: 10px 5px;
}

.place-order{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
}

.place-order-left{
    width: 100%;
    max-width: max(30%, 500px);
}

.place-order-left .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}

.place-order-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    color: gray;
    font-size: max(1vw, 12px);
}

.order-items-item{
    margin: 10px 0px;
    color: black;
}

.place-order-left input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline-color: tomato;
}

.place-order-left .multi-fields{
    display: flex;
    gap: 10px;
}

.place-order-right{
    width: 100%;
    max-width: max(40%, 500px);
}

.place-order .cart-total button{
    margin-top: 30px;
}

/* Two inputs side by side */
.regandmileage {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.regandmileage .input-group {
  flex: 1; /* each input takes equal width */
  display: flex;
  flex-direction: column; /* label on top */
}