/* Center the form */
/* Main container */
.list {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: max(5vw, 25px);
  margin-top: 50px;
  padding-bottom: 20px;
  justify-content: baseline;
  min-height: 100vh;

  /* Vibrant modern look */
  background: linear-gradient(135deg, #fdfbfb, #ebedee);
  padding: 40px;
  border-radius: 20px;

  color: #4e4e4e;
  font-size: 16px;
  background: linear-gradient(135deg, #dff1ff, #a3c6ff);

  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.08),
    0 4px 8px rgba(0, 0, 0, 0.05);

  animation: fadeIn 0.6s ease;
}

.list-table-format {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr 0.5fr;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  border: 1px solid #cacaca;
  font-size: 13px;
}

.list-table-format .title {
  background-color: #f9f9f9;
}

.list-table-format img {
  width: 50px;
}

.cursor {
  cursor: pointer;
}

.list-table-format button {
  border: none;
  padding: 12px 0px;
  border-radius: 4px;
  background-color: #eef6ff;
  border: 1px solid #3b82f6;
  cursor: pointer;
  color: #454545;
}

.list-table-format .delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.view-list {
  cursor: pointer;
}

@media (max-width: 600px) {
  .list-table-format {
    grid-template-columns: 1fr 3fr 1fr;
    gap: 15px;
  }
  .list-table-format .title {
    display: none;
  }
}
