.list-table-format {
  display: grid;
  grid-template-columns: 0.5fr 1fr 2fr 0.5fr 0.5fr;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  border: 1px solid #cacaca;
  font-size: 13px;
}

.list-table-format .title {
  background-color: #f9f9f9;
}

.list-table-format img {
  width: 50px;
}

.cursor {
  cursor: pointer;
}

.list-table-format button {
  border: none;
  padding: 12px 0px;
  border-radius: 4px;
  background-color: #eef6ff;
  border: 1px solid #3b82f6;
  cursor: pointer;
  color: #454545;
}

.list-table-format .delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

@media (max-width: 600px) {
  .list-table-format {
    grid-template-columns: 1fr 3fr 1fr;
    gap: 15px;
  }
  .list-table-format .title {
    display: none;
  }
}
